/*
 * Import global styles and mixins
 */
/*
 * Media Query Mixins
 */
/*
 * APP general mixins
 */
body {
  font-size: 18px; }

h1 {
  font-size: 3.47em; }

h2 {
  font-size: 2.6em; }

h3 {
  font-size: 1.95em; }

h4 {
  font-size: 1.466em; }

h5 {
  font-size: 1.1em; }

h6 {
  font-size: 0.825em; }

@media screen and (max-width: 600px) {
  h1 {
    font-size: 1.982em; }
  h2 {
    font-size: 1.762em; }
  h3 {
    font-size: 1.566em; }
  h4 {
    font-size: 1.392em; }
  h5 {
    font-size: 1.238em; }
  h6 {
    font-size: 1.1em; } }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: #333;
  margin: 0 0 10px 0; }

p {
  color: #333;
  line-height: 1.3;
  font-size: 1em; }
  @media screen and (max-width: 600px) {
    p {
      font-size: 1em; } }

/* Main extends loader */
/*
 * Common position classes that can be used in CSS
 * instead of by classes
 */
.hard-center {
  display: flex;
  align-items: center;
  justify-content: center; }

.column-center {
  display: flex;
  flex-direction: column;
  align-items: center; }

.column-hard-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

/*
 * Global APP styles
 */
html, body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; }

.inner-container {
  max-width: 85%; }
  @media screen and (max-width: 600px) {
    .inner-container {
      max-width: 100%;
      padding: 0px 15px; } }
