/*
 * Import global styles and mixins
 */
/*
 * Media Query Mixins
 */
/*
 * APP general mixins
 */
/* Section Spacers */
/* Top and Bottom Spacers */
/*
 * Common position classes that can be used in CSS
 * instead of by classes
 */
/* Section Spacers */
.spacer-small {
  padding: 40px 0; }
  @media screen and (max-width: 1024px) {
    .spacer-small {
      padding: 25px 0; } }

.spacer-medium {
  padding: 75px 0; }
  @media screen and (max-width: 1024px) {
    .spacer-medium {
      padding: 60px 0; } }

.mb-small {
  margin-bottom: 40px; }
  @media screen and (max-width: 1024px) {
    .mb-small {
      margin-bottom: 25px; } }

.mt-small {
  margin-top: 40px; }
  @media screen and (max-width: 1024px) {
    .mt-small {
      margin-top: 25px; } }

.mb-medium {
  margin-bottom: 60px; }
  @media screen and (max-width: 1024px) {
    .mb-medium {
      margin-bottom: 40px; } }

.mt-medium {
  margin-top: 60px; }
  @media screen and (max-width: 1024px) {
    .mt-medium {
      margin-top: 40px; } }

.mr-small {
  margin-right: 40px; }
  @media screen and (max-width: 1024px) {
    .mr-small {
      margin-right: 25px; } }

.mr-medium {
  margin-right: 60px; }
  @media screen and (max-width: 1024px) {
    .mr-medium {
      margin-right: 40px; } }

.ml-small {
  margin-left: 40px; }
  @media screen and (max-width: 1024px) {
    .ml-small {
      margin-left: 25px; } }

.mr-small {
  margin-right: 40px; }
  @media screen and (max-width: 1024px) {
    .mr-small {
      margin-right: 25px; } }

.column-center {
  display: flex;
  flex-direction: column;
  align-items: center; }

.hard-center {
  display: flex;
  align-items: center;
  justify-content: center; }

.column-hard-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.button {
  padding: 15px;
  width: 200px; }

.button.large {
  padding: 22.5px;
  width: 250px; }

body {
  font-size: 18px; }

h1 {
  font-size: 3.47em; }

h2 {
  font-size: 2.6em; }

h3 {
  font-size: 1.95em; }

h4 {
  font-size: 1.466em; }

h5 {
  font-size: 1.1em; }

h6 {
  font-size: 0.825em; }

@media screen and (max-width: 600px) {
  h1 {
    font-size: 1.982em; }
  h2 {
    font-size: 1.762em; }
  h3 {
    font-size: 1.566em; }
  h4 {
    font-size: 1.392em; }
  h5 {
    font-size: 1.238em; }
  h6 {
    font-size: 1.1em; } }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: #333;
  margin: 0 0 10px 0; }

/*
 * Global APP styles
 */
html, body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; }

i {
  font-family: "Font Awesome 5 Pro", Helvetica, Arial, sans-serif;
  font-weight: 900; }

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
select,
textarea {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1, h2, h3, h4, h5, h6 {
  color: #666; }

h1, h2, h3, h4, h5, h6, span,
li, a, ul, ol, p, i, b {
  line-height: 1.36;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  @media screen and (max-width: 600px) {
    h1, h2, h3, h4, h5, h6, span,
    li, a, ul, ol, p, i, b {
      line-height: 1.5; } }

.inner-container {
  max-width: 85%; }
  @media screen and (max-width: 600px) {
    .inner-container {
      max-width: 100%;
      padding: 0px 15px; } }

p {
  font-size: 1em; }
  @media screen and (max-width: 600px) {
    p {
      font-size: 1em; } }
