//navbar classes
.show{ display: flex !important;}
.hide{ display: none !important; }

//main header
header,.open-icon,.close-icon{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

//the toggle button
.toggle-container{
	margin-right:25px;
	display: none;

	i,svg{
		color: $white;
		font-size:1.5em;
	}

	@include atSmall{
		display:block;
		display: flex;
		align-items: center;
	}
}

//the bottom links
#site-navigation .footer{
	display: none; //hide by default

	@include atSmall{
		display: flex;
		position: fixed;
		bottom:0;
		width:100%;

		ul{
			flex-direction: row !important;
			justify-content: center;
			margin-top:10px;
			padding-bottom:18px;

			li{ 
				font-size: 1em; 
				width:27px;
				height: 27px;
				
				svg{ font-size: 14px;}
			}
		}

	}
}

//the mobile list shown on mobile
.mobile-list-style{

	@include atSmall{
		position: fixed;
		top:50px;
		width: 100%;
		height: 100%;
		background-color: $black;

		display: flex;
		align-items: flex-start;
		justify-content: center;

		ul{
			display: flex;
			flex-direction: column;
			margin-top:40px;

			li{
				margin:5px 0;
				font-size:1.3em;
				text-align: center;
			}
		}
	}
}