//colors
$text-color:#333;
$link-color: #5BC0DE;
$grey: #EDEDED;

//breakpoints
$MEDIUM: 1024px;
$SMALL: 600px;
$TINY: 400px;

//container widths
$CONTAINER: 85%;
$CONTAINER-SMALL: 100%;

//text widths
$TEXT: 55%;
$TEXT-MED: 80%;
$TEXT-SMALL: 95%;

//typography
$BASE_FONT_SIZE: 18px;
$FONT_SCALE: 1;
$SMALL_FONT_SCALE: 1;
$PARA_FONT_SIZE: 1em;
$SMALL_PARA_FONT_SIZE: 1em;