//colors
$text-color:#333;
$link-color: #5BC0DE;
$grey: #EDEDED;

//breakpoints
$MEDIUM: 1024px;
$SMALL: 600px;

//container widths
$CONTAINER: 85%;
$CONTAINER-SMALL: 100%;

//text widths
$TEXT: 55%;
$TEXT-MED: 80%;
$TEXT-SMALL: 95%;

//typo
$BASE_FONT_SIZE: 18px;