//helper classes
.horizontal-list {
	list-style: none;
	display: flex;
	justify-content: center;

	li {
		margin: 0px 12px;
	}
}

//positioning classes
.center {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.hard-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

//container
.inner-container {
	max-width: $CONTAINER;

	@include atSmall {
		max-width: $CONTAINER-SMALL;
		padding: 0px 15px;
	}
}
