/* Section Spacers */
@mixin spacer-medium() {
  padding: $SPC-MED-PLUS 0;

  @include atMedium {
    padding: $SPC-MED 0;
  }
}

@mixin spacer-small() {
  padding: $SPC-SMALL-PLUS 0;

  @include atMedium {
    padding: $SPC-SMALL 0;
  }
}

/* Top and Bottom Spacers */
@mixin mb-small() {
  margin-bottom: $SPC-SMALL-PLUS;

  @include atMedium {
    margin-bottom: $SPC-SMALL;
  }
}

@mixin mt-small() {
  margin-top: $SPC-SMALL-PLUS;

  @include atMedium {
    margin-top: $SPC-SMALL;
  }
}

@mixin mb-medium-plus() {
  margin-bottom: $SPC-MED-PLUS;

  @include atMedium {
    margin-bottom: $SPC-MED;
  }
}

@mixin mt-medium-plus() {
  margin-top: $SPC-MED-PLUS;

  @include atMedium {
    margin-top: $SPC-MED;
  }
}

@mixin mb-medium() {
  margin-bottom: $SPC-MED;

  @include atMedium {
    margin-bottom: $SPC-SMALL-PLUS;
  }
}

@mixin mt-medium() {
  margin-top: $SPC-MED;

  @include atMedium {
    margin-top: $SPC-SMALL-PLUS;
  }
}

@mixin mb-large() {
  margin-bottom: $SPC-LARGE;

  @include atTablet {
    margin-bottom: $SPC-MED;
  }
}

@mixin mt-large() {
  margin-top: $SPC-LARGE;

  @include atTablet {
    margin-top: $SPC-MED;
  }
}