//define background image
@mixin bg-image($size, $url){
	background-image: 
	url($url);
	background-repeat: no-repeat;
	background-size:$size auto;
	background-position: center;
}

@mixin image-overlay(){
    img{
      opacity: 1;
	  display: block;
	  height: auto;
	  transition: .5s ease;
	  backface-visibility: hidden;

	  &:hover{
	  	opacity: 0.8;
	  }
    }
}