/*
 * Global APP styles
 */

html,body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}

//container
.inner-container {
	max-width: $CONTAINER;

	@include atSmall {
		max-width: $CONTAINER-SMALL;
		padding: 0px 15px;
	}
}
