@mixin mb-custom($large, $small) {
  margin-bottom: $large;

  @include atMedium {
    margin-bottom: $small;
  }
}

@mixin mb-custom-full($large, $medium, $small) {
  margin-bottom: $large;

  @include atMedium {
    margin-bottom: $medium;
  }

  @include atSmall {
    margin-bottom: $small;
  }
}

@mixin pb-custom($large, $small) {
  padding-bottom: $large;

  @include atMedium {
    padding-bottom: $small;
  }
}

@mixin pb-custom-full($large, $medium, $small) {
  padding-bottom: $large;

  @include atMedium {
    padding-bottom: $medium;
  }

  @include atSmall {
    padding-bottom: $small;
  }
}
