@mixin ml-custom($large, $small) {
  margin-left: $large;

  @include atMedium {
    margin-left: $small;
  }
}

@mixin ml-custom-full($large, $medium, $small) {
  margin-left: $large;

  @include atMedium {
    margin-left: $medium;
  }

  @include atSmall {
    margin-left: $small;
  }
}

@mixin pl-custom($large, $small) {
  padding-left: $large;

  @include atMedium {
    padding-left: $small;
  }
}

@mixin pl-custom-full($large, $medium, $small) {
  padding-left: $large;

  @include atMedium {
    padding-left: $medium;
  }

  @include atSmall {
    padding-left: $small;
  }
}
