@mixin mt-custom($large, $small) {
  margin-top: $large;

  @include atMedium {
    margin-top: $small;
  }
}

@mixin mt-custom-full($large, $medium, $small) {
  margin-top: $large;

  @include atMedium {
    margin-top: $medium;
  }

  @include atSmall {
    margin-top: $small;
  }
}

@mixin pt-custom($large, $small) {
  padding-top: $large;

  @include atMedium {
    padding-top: $small;
  }
}

@mixin pt-custom-full($large, $medium, $small) {
  padding-top: $large;

  @include atMedium {
    padding-top: $medium;
  }

  @include atSmall {
    padding-top: $small;
  }
}
